# dependencies
node_modules/
/client/.next
/client/.pnp
/client/.pnp.js
/client/.delete.js
delete.js*
/client/.yarn/install-state.gz

# testing
/client/coverage

# next.js
/client/.next/
/client/out/

# production
/client/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*
config.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts