# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/.next
node_modules
*node_modules
/node_modules
**/node_modules
**/node_modules/
/client/node_modules*
/server/node_modules
/client/.pnp
/client/.pnp.js
/client/.yarn/install-state.gz

# testing
/client/coverage

# next.js
/client/.next/
/client/out/

# production
/client/build

# misc
/client/.DS_Store
/client/*.pem

# debug
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# local env files
/client/.env*.local
/server/.env*
.env*
.env
.env.local
.env.development
.env.production
.env.test
*.env
config.env
/server/config.env
server/.env
/server/config.env
/server/.env
.env*
/config.env

# vercel
/client/.vercel

# typescript
/client/*.tsbuildinfo
/client/next-env.d.ts
