<%- include('base') %>

<p>Hi <%= userName %></p>
<p>
  Welcome to Odeco Hub. Your one stop online shopping platform where you can get
  all you need
</p>
<table
  role="presentation"
  border="0"
  cellpadding="0"
  cellspacing="0"
  class="btn btn-primary"
>
  <tbody>
    <tr>
      <td align="left">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="<%= url %>" target="_blank">Call To Action</a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<p>
  If you need any help to navigate this website don't forget to contact our
  customer service
</p>
<p>Odera Muna, CEO</p>
